.el-input__inner {  /* 覆盖eleemnt ui 的input样式 */
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.el-radio__inner {  /* 覆盖 eleemnt ui 单选 按钮的 样式 */
    width: 18px;
    height: 18px;
}

.el-dialog {  /* 屏幕居中 eleemnt ui Dialog 弹框样式 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 !important;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.el_textarea_fu > .el-textarea__inner {
    border-color: #F5F5F5;
    background-color: #F5F5F5;
    color:#333;
  }
  .el_textarea_fu > .el-textarea__inner:hover {
    border-color: #F5F5F5;
  }
  .el_textarea_fu > .el-textarea__inner:focus {
    border-color: #F5F5F5;
  }
  .el_textarea_fu > .el-textarea__inner::-webkit-input-placeholder {
    color: #808080;
  }

  .hide_box {
    display: none;
  }

.hover-tips { /* 自定义类名 更改停诊 tips 的样式 */
    border:0;
    padding: 0;
}
.el-input-40 > .el-input__inner {
   height: 40px;
}

.el-button-cancel {  /* MessageBox 弹框的 取消自定义类名 */
  padding: 10px 18px;
  border-color:  #409EFF;
  color:  #409EFF;
  font-size: 15px;
  margin-right: 20px;
}
.el-button-submit { /* MessageBox 弹框的 确定自定义类名 */
  padding: 10px 18px;
  font-size: 15px;
}

/* （申请合作医生的合作申请中）自定义类名更改 element ui的 Tooltip 提示信息的样式 */
.el-btn-tooltip {   
     border: 0;
     background-color: inherit;
     padding: 0;
}
.el-btn-tooltip:hover {
  background-color: inherit;
 color: #333;
  cursor: default;
}

.el-input__inner:focus {    /* 全局改变element UI 的 selece下拉框获取焦点时的边框颜色 */
  border-color: #e6e6e6;
}
.el-input__inner {    /* 全局改变element UI 的 selece下拉框获取焦点时的边框颜色 */
  border-color: #c2c2c3;
}